<h2 mat-dialog-title>{{userRole}}</h2>
<div mat-dialog-content>
  <form [formGroup]="userForm" (ngSubmit)="addUser()">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Enter Name" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Mobile Number</mat-label>
      <input matInput placeholder="Enter Number" formControlName="phoneNumber">
      <mat-error
        *ngIf="userForm.get('phoneNumber')?.hasError('pattern') && (userForm.controls['phoneNumber'].dirty || userForm.controls['phoneNumber'].touched)">
        Invalid!!!.. Please Enter 10 digit valid Phone Number
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <input matInput placeholder="Enter Address" formControlName="address">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>State</mat-label>
      <input matInput placeholder="Enter State" formControlName="state">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input matInput placeholder="Enter City" formControlName="city">
    </mat-form-field>
    <div mat-dialog-actions [align]="'end'">
      <button mat-raised-button color="primary" type="submit">{{actionButton}}</button>
      <button mat-raised-button color="warn" (click)="close()">Cancel</button>
    </div>
  </form>
</div>
