<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </button>
    <span> &nbsp; Level Two Task</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logOut()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</p>
<section>
  <div class="container">
    <div style="margin: 10px;">
      <app-list></app-list>
    </div>
  </div>
</section>